<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<select id="getTime" resultType="string">
		SELECT sysdate FROM DUAL
	</select>

	<select id="memberLogin" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE
		nickname=#{nickname}
		AND M_PASSWORD=#{m_password}
	</select>

	<insert id="memberRegister" parameterType="hashmap">
		INSERT INTO MEMBER(M_NUM,NICKNAME,PHONE,M_PASSWORD,EMAIL,ACC_NUM,ACC_NAME)
		VALUES
		(
		member_seq.nextval,
		#{nickname},
		#{phone},
		#{m_password},
		#{email},
		#{acc_num},
		#{acc_name}
		)
		
	</insert>

	<select id="nicknameCheck" parameterType="string"
		resultType="MemberVO">
		SELECT * FROM MEMBER WHERE
		NICKNAME=#{nickname}
	</select>

	<update id="memberUpdate" parameterType="MemberVO">
		UPDATE MEMBER SET
		phone=#{phone},
		email=#{email},
		intro=#{intro},
		acc_num=#{acc_num},
		acc_name=#{acc_name}
		WHERE NICKNAME = #{nickname}
	</update>

	<delete id="memberDelete">
		DELETE FROM MEMBER WHERE NICKNAME = #{nickname}
	</delete>
	
	<select id="pagingListCount" parameterType="int" resultType="int">
    	SELECT COUNT(*)  FROM PRODUCTIONREVIEW WHERE M_NUM = #{m_num}
	</select>
	
	<select id="pagingReivewList" parameterType="ProductionReviewVO" resultType="ProductionReviewVO">
    	SELECT 
	        A.PR_NUM, A.STARPOINT, A.REPLY, A.REPLYER, A.CREATE_DATE, A.M_NUM
	    FROM (
	
	        SELECT ROWNUM RNUM, S.*
	
	        FROM (
	            SELECT PR_NUM, STARPOINT, REPLY, REPLYER, CREATE_DATE, M_NUM
	
	            FROM PRODUCTIONREVIEW
	
	            WHERE 1=1 AND M_NUM = #{m_num}
	            ORDER BY PR_NUM DESC
	        )S
	    )A 
		WHERE RNUM BETWEEN #{startRowNo} AND #{endRowNo}
	</select>

	<select id="scrollPaging" parameterType="string" resultType="ProductionReviewVO">
	<![CDATA[
		SELECT * FROM
			(SELECT * FROM PRODUCTIONREVIEW
				WHERE PR_NUM > 0 AND M_NUM = 
				(SELECT M_NUM FROM MEMBER WHERE NICKNAME = #{nickname})
			ORDER BY PR_NUM DESC , CREATE_DATE DESC) 
		WHERE ROWNUM <= 10
	]]>
	</select>
	
	<select id="infiniteScrollDown" parameterType="hashmap" resultType="ProductionReviewVO">
	<![CDATA[
		SELECT * FROM (SELECT * FROM PRODUCTIONREVIEW
		WHERE PR_NUM <= #{pr_num} AND PR_NUM > #{pr_num}-10 AND M_NUM = (SELECT M_NUM FROM MEMBER WHERE NICKNAME = #{nickname})
		ORDER BY PR_NUM DESC , CREATE_DATE DESC)
	]]>
	</select>
	
	<select id="usingData" resultType="int">
		SELECT COUNT(NICKNAME) FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
	
</mapper>