/* 회원가입 CSS */
.btn{
 position: relative;
 top:220px;  
 right:1040px;  
}



.header{ background-color:antiquewhite; height: 100px;}

.main{ margin: 0 auto;
    width: 40%;

  }

.main h4{ margin: 60px auto;
text-align: center; font-size: 2em; }

fieldset{
     border: none; 
}

fieldset > div{ 
    position: relative;
    margin-bottom: 10px;
}


.none{
    display: none;
}


.error{ 
    font-size: 0.8em;
    position: absolute;
    width: auto;
    top: 18px; right: 10px;
    text-align: right;
    color: red;
}

.vaild{
    font-size: 0.8em;
    position: absolute;
    width: 150px;
    top: 18px; right: 10px;
    text-align: right;
    color: forestgreen;
}

input[type=text], select, input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1; 
    border-bottom:1px solid gray;
}

input[type=submit],input[type=boutton] {
    width: 39%;
    background-color: skyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left:30%;
  
  }

input[type=submit]:hover,input[type=boutton]:hover {
    background-color: skyblue;
    


  }

#wrap_gender{
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
}

.gender{
    display: block;
    height: 100%; width: 50%;
    border-right: 1px solid #ccc;
}

.no_line{
    border-right:none;
}

.gender > label {
    display: block;
    /*width: 100%; height: 100%;*/
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

input[type=radio]{
   display: none;
}

.gender_act{
    display: inline-block;
    height: 100%; width: 50%;
    background-color: #45a049;
    color:#fff;
}

.gender_act > label {
    display: inline-block;
    width: 100%; height: 100%;
    padding: 10px ;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
}

.mobile{
position: relative;
top: -37px;
right: -7px;
z-index: 2;

}

.mobile2{
  position: relative;
  top: -37px;
  left: 7px;
  z-index: 2;

  }

.lock{
    position: relative;
    top: -37px;
    left: 5px;
    z-index: 2;
  
    }

.lock2{
      position: relative;
      top: -37px;
      left: 5px;
      z-index: 2;
   
      }


.email{
        position: relative;
        top: -37px;
        left: 5px;
        z-index: 2;
    
        }


.user{
        position: relative;
        top: -37px;
        left: 5px;
        z-index: 2;
    
        }

.bank{
  position: relative;
  left:3px;
  top:39px;
      z-index: 2;
}

.dropdown_select{
  border-left-width:0; 
  border-right-width:0; 
  border-top-width:0; 
  border-bottom-width:1; 
  border-bottom:1px solid gray;



}
  
.select{
 position: relative;
 width:29%;
 float: left;
 bottom:-2px;
}

.num{
  position: relative;
  width:70%;
  float: right;
  top:14.8px;
}

.num1{
  position: relative;
  bottom:38px;
}


.all_agree{
position: relative;
left:31%;
bottom:20px;
}


/* .form-field{
width:40%


} */





/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */


.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
	background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
	background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
	background:-o-linear-gradient(top, #848484 5%, #848484 100%);
	background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
	background:linear-gradient(to bottom, #848484 5%, #848484 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
	background-color:#848484;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 9px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
	background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
	background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
	background:-o-linear-gradient(top, #848484 5%, #848484 100%);
	background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
	background:linear-gradient(to bottom, #848484 5%, #848484 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
	background-color:#848484;
}
.myButton{
	position:relative;
	top:43px;
  left: 655px;
  z-index: 2;
}


 


.store{
  position: relative;
  top: -37px;
  right: 0px;
  z-index: 2;
  
  }


.owner{
    position: relative;
    top: -37px;
    left: 0px;
    z-index: 2;
  
    }


.name{
  position: relative;
  top: -37px;
  left: 0px;
  z-index: 2;
      }


.phone{
        position: relative;
        top: -37px;
        left: 0px;
        z-index: 2;
      
        }
.home{
 position: relative;
  top: -206px;
    left: 0px;
    z-index: 2;
        
 }

 .clock{
  position: relative;
   top: -37px;
     left: 0px;
     z-index: 2;
         
  }

 .adrs{
  position: relative;
  bottom:252px;
  left:45%;
  z-index: 2; 
  }


  .adrs {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
    background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
    background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
    background:-o-linear-gradient(top, #848484 5%, #848484 100%);
    background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
    background:linear-gradient(to bottom, #848484 5%, #848484 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
    background-color:#848484;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:4px 9px;
    text-decoration:none;
  }
  .adrs {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
    background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
    background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
    background:-o-linear-gradient(top, #848484 5%, #848484 100%);
    background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
    background:linear-gradient(to bottom, #848484 5%, #848484 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
    background-color:#848484;
  }
  
  .alert-success{
    position: relative;
    bottom:195px;
    left:20px;
    color:green;
  }


  .alert-danger{
position: relative;
bottom:195px;
left:20px;
color: red;
  }