 
      .manner {
         border: solid 1px gray;
         height: 120px;

      }



      .nick {
         font-size: 20px;
         font-weight: bold;
         color: gray;
         position: relative;
         left: 120px;
         top: -50px;



      }

      .adrs {
         font-size: 20px;
         font-weight: bold;
         color: gray;
         position: relative;
         left: 120px;
         top: -40px;


      }

      .info {
         /* border: solid 1px black; */
         height: 1000px;
      }

      .infoo {
         font-weight: bold;
         font-size: 25px;
         left: 20px;
         top: 25px;
         position: relative;
         color: gray;
      }

      .cont {
         height: 150px;
         /* border: solid 1px black;    */
         position: relative;
         left: 50px;
      }


      label {
         color: gray;
         font-size: 15px;
         font-weight: bold;
         position: relative;
         left: 20px;
         top: 10px;
      }

      .ac {
         font-size: 20px;
      }


      .adrs1 {
         color: gray;
         font-weight: bold;
         font-size: 20px;
         position: relative;
         left: 100px;
         top: -65px;
      }

      .nick1 {
         color: gray;
         font-weight: bold;
         font-size: 20px;
         position: relative;
         left: 100px;
         top: -65px;
      }

      .user {
         position: relative;
         left: 650px;
         top: -130px;
         width: 500px;
         height: 100px;
         border: solid 1px gray;
      }

      .box {
         height: 300px;
         /* border: 1px solid black; */




      }

      .box1 {
         border-left-width: 0;
         border-right-width: 1px;
         border-right: 1px solid gray;
         border-top-width: 1px;
         border-top: 1px solid gray;
         border-bottom-width: 1px;
         border-bottom: 1px solid gray;
         height: 150px;
         width: 300px;
         display: inline-block;
         vertical-align: middle;
         position: relative;
         left: 2px;

      }

      .box2 {
         border: 1px solid black;
         height: 150px;
         display: inline-block;
         width: 890px;
         border-right-width: 0;
         border-left-width: 1px;
         border-left: 1px solid gray;
         border-top-width: 1px;
         border-top: 1px solid gray;
         border-bottom-width: 1px;
         border-bottom: 1px solid gray;
         position: relative;
         right: 5px;
         vertical-align: middle;


      }

      .box1>label {
         font-weight: bold;
         color: gray;
         font-size: 25px;
         margin-top: 45px;
         margin-left: 40px;


      }


      .box2>label {
         font-weight: bold;
         color: gray;
         font-size: 20px;

      }



      .foo2 {
         position: relative;
         left: 310px;
         bottom: 70px;


      }

      .sell {
         width: 1300px;
         height: 350px;
         /* border: solid 1px gray; */
      }



      .le {
         display: inline-block;
         vertical-align: middle;
         width: 350px;
         height: 350px;
         border: solid 2px gray;
         position: relative;

         border-left-width: 1;
         border-right-width: 0;
         border-top-width: 1;
         border-bottom-width: 1;


      }

      .ri {
         display: inline-block;
         vertical-align: middle;
         width: 893px;
         height: 350px;
         border: solid 2px gray;
         position: relative;
         right: 6px;
      }




.mynick{
   
         vertical-align: middle;
         width:300px;
}









      .fa-user-circle {
         font-size: 110px;
         position: relative;
         top: 105px;
         left: 120px;
         color: gray;
      }

      .sa {
         font-size: 20px;
         font-weight: bold;
         color: gray;
         position: relative;
         top: 200px;
         right: 45px;
      }

      .foo {
         width: 150px;
         height: 80px;
         position: relative;
         top: 133px;
         left: 150px;

      }

      .sa1 {
         font-size: 26px;
         font-weight: bold;
         color: gray;
         position: relative;
         left: 20px;
         top: 20px;
      }

      .su {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
         -moz-border-radius: 6px;
         -webkit-border-radius: 6px;
         border-radius: 6px;
         border: 1px solid #dcdcdc;
         display: none;
         /* display: inline-block; */
         cursor: pointer;
         color: #ffffff;
         font-family: Arial;
         font-size: 13px;
         font-weight: bold;
         padding: 4px 8px;
         text-decoration: none;
         position: relative;
         top: 17px;
         left: 15px;

      }

      .su:hover {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
      }




      .tx {
         width: 850px;
         height: 100px;
         /* border: solid 1px gray; */
         position: relative;
         top:260px;
         left: 18px;
         

      }


      .ct {
         resize: none;
         width: 400px;
         height: 30px;
         position: relative;
         top:98px;

        
      }



      .bsu {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
         -moz-border-radius: 6px;
         -webkit-border-radius: 6px;
         border-radius: 6px;
         border: 1px solid #dcdcdc;
        /*  display: inline-block; */
         display: none;
         cursor: pointer;
         color: #ffffff;
         font-family: Arial;
         font-size: 13px;
         font-weight: bold;
         padding: 4px 8px;
         text-decoration: none;
         position: relative;
         top: 158px;
         left: 465px;

      }

      .bsu:hover {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
      }



      .hi {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
         /* -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px; */
         border: 1px solid #dcdcdc;
         display: inline-block;
         cursor: pointer;
         color: #ffffff;
         font-family: Arial;
         font-size: 10px;
         font-weight: bold;
         padding: 4px 8px;
         text-decoration: none;
         position: relative;
           rigth:2px;
         width: 40px;
         height: 32px;
         top:86px;
         right:4px;

      }

      .hi:hover {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
      }




      .mm {
         width: 710px;
         height: 200px;
         position: absolute;
         bottom: 1px;
         display:none;
      }


      .nisu {
         font-size: 20px;
         font-weight: bold;
         color: gray;

      }

.myph{
    font-size: 20px;
         font-weight: bold;
         color: gray;
   
   }
   
   
   .mynum{
    font-size: 20px;
         font-weight: bold;
         color: gray;
         margin-right:20px;
   
   }
   
   .myphone{
   position: relative;
   bottom:80px;
   left:20px;
   }
   
   
.mymail{
   font-size: 20px;
         font-weight: bold;
         color: gray;
}
   
   .mycom{
   font-size: 20px;
         font-weight: bold;
         color: gray;
         margin-right:55px;
   }
   
   .myemail{
   position: relative;
   bottom:80px;
   left:20px;
   }
   
   
.mybname{
   font-size: 20px;
         font-weight: bold;
         color: gray;
}

.mybname1{
         font-size: 20px;
         font-weight: bold;
         color: gray;
         margin-right:55px;
}
   
   
   
.mybanum{
   font-size: 20px;
         font-weight: bold;
         color: gray;
}
   
   .mybanum1{
   font-size: 20px;
         font-weight: bold;
         color: gray;
}
   .mybank{
   position: relative;
   bottom:80px;
   left:20px;
   }






      .sell2{
         width: 1243px;
         height:94px;    
          border: solid 2px gray; 
          margin-top: 50px;
          /* font-size: 0px; */
          display: flex;
         
          
      }

      .pro{
         width: 247.8px;
         height: 90px; 
         border: solid 1px gray; 
         display: inline-block;
         vertical-align: middle;
      }


      .sh{
         width: 247.8px;
         height: 90px; 
         border: solid 1px gray; 
         display: inline-block;
         vertical-align: middle;
      }

      .basket{
         width: 247.8px;
         height: 90px; 
         border: solid 1px gray; 
         display: inline-block;
         vertical-align: middle;
      }


      .review{
         width: 247.8px;
         height: 90px; 
         border: solid 1px gray; 
         display: inline-block;
         vertical-align: middle;
      }

      .jik{
         width: 247.84px;
         height: 90px; 
         border: solid 1px gray; 
         /* display: inline-block;
         vertical-align: middle; */
      }

      .pro1{
          border:none; 
          background-color:white;
          color: gray;
          font-weight: bold;
          font-size: 20px;
          width: 243px;
          height: 85px;;
      }

      .sh1{
         border:none; 
         background-color:white;
          color: gray;
          font-weight: bold;
          font-size: 20px;
          width: 243px;
          height: 85px;;
      }

      .basket1{
         border:none; 
         background-color:white;
          color: gray;
          font-weight: bold;
          font-size: 20px;
          width: 243px;
          height: 85px;;
      }

      .review1{
         border:none; 
         background-color:white;
          color: gray;
          font-weight: bold;
          font-size: 20px;
          width: 243px;
          height: 85px;;
          
      }

      .jik1{
         border:none; 
         background-color:white;
          color: gray;
          font-weight: bold;
          font-size: 20px;
          width: 243px;
          height: 85px;;
      }



   .page{
      margin-top:35px;
      width:1243px;
      height: 1200px;
      border: solid 1px gray;
      border-top: 0;
      border-left: 0;
      border-right: 0;
   }

     
   .pro2{
      color: gray;
      font-size: 25px;
      font-weight: bold;
   }


   hr{
   height: 1px;
   background: gray;

   }


sun1{
	height: 1px !important;
 border-color: gray !important;
   width:850px !important;
   
	
	
}

sun2{
	height: 1px;
   background: gray;
   width:850px;
	
}

sun3{
	height: 1px;
   background: gray;
   width:850px;
	
}



.more{
   color: gray;
   font-size: 20px;
   font-weight: bold;
}



.shop1{
    color: gray;
      font-size: 25px;
      font-weight: bold;
   }

    .shop{
        width: 1243px;
        height: 1200px;
        border: solid 1px gray;
        margin-top:35px;
        border-top: 0;
      border-left: 0;
      border-right: 0;

    }
   
    .reply{
   font-size: 25px;
   font-weight: bold;
   color: gray;

   position: relative;
   bottom: 100px;

}






.r12{
    width: 1173px;
    height: 130px;
    border: solid 1px gray;
    
     border-left-width:0; 
     border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1;  
    position: relative;
    bottom:40px;
    left: 74px;
    display:inline-block;
    

}

.n1{

position: relative;
top:40px;


}

.dd12{
    position: relative;
    top:45px;

}



.i{
    width:70px;
    height: 130px;
    display:inline-block;
   bottom: 50px;
}


.com1{
    position: relative;
    top:50px;
}

.de1{
    position: relative;
    top:27px;
    left:100px;
}

.a1{
    width: 1243px;
    height: 180px;
    border: solid 1px gray;
      position: relative;
   
}

.b1{
    width:1243px;
    height:120px;
    border: solid 1px gray;
   border-left-width:0; 
  border-right-width:0; 
  border-top-width:0; 
  border-bottom-width:1; 
  border-bottom:1px solid gray;
}


.c1{
    width:650px;
    height: 60px;
    display:inline-block;
}




.content{
    width: 1240px;
    height: 120px;
    border: solid 1px gray;
    resize: none;
    border-left-width:0; 
  border-right-width:0; 
  border-top-width:0; 
  border-bottom-width:1; 
}


.c1 > span{
    position: relative;
    top:15px;
    font-weight: bold;
    color: gray;
    left:20px;
}


.d1{
    display:inline-block;
    position: relative;
    left:500px;
    top:15px;


}


.dd {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:4px 25px;
    text-decoration:none;
    position: relative;
    left: 590px;
      
}
.dd:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}


.mysu {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   display : none;
   /* display:inline-block; */
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
    text-decoration:none;
    
      
}
.mysu:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}


.myem {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   /* display:inline-block; */
   display:none;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
    text-decoration:none;
   
      
}
myem:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}



#myba {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   /* display:inline-block; */
   display:none;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
    text-decoration:none;
      
}
#myba:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}


.myju {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   /* display:inline-block; */
   display:none;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
    text-decoration:none;
   
      
}
.myju:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}



#memberUpdate {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   /* display:inline-block; */
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
   text-decoration:none;
   position: relative;
   left: 780px;
   bottom: 20px;
   
      
}
#memberUpdate:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}

#updateComplete {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #dcdcdc;
   /* display:inline-block; */
   display:none;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:3px 15px;
   text-decoration:none;
   position: relative;
   left: 780px;
   bottom: 60px;
   
      
}
#updateComplete:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
   background:-moz-linear-gradient(top, #848484 5%, #848484 100%);
   background:-webkit-linear-gradient(top, #848484 5%, #848484 100%);
   background:-o-linear-gradient(top, #848484 5%, #848484 100%);
   background:-ms-linear-gradient(top, #848484 5%, #848484 100%);
   background:linear-gradient(to bottom, #848484 5%, #848484 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484',GradientType=0);
   background-color:#848484;
}




















.ddd{
    position: relative;
    left:15px;
}

.fa-pencil-alt{
    position: relative;
    left: 520px;
    color:white;
}


.jjim1{
    color: gray;
      font-size: 25px;
      font-weight: bold;
   }

    .jjim{
        width: 1243px;
        height: 1200px;
        border: solid 1px gray;
        margin-top:35px;
        border-top: 0;
      border-left: 0;
      border-right: 0;

    }
.check1{
    color: gray;
    font-size: 18px;
    font-weight: bold;
}




.jimpro{
        width: 335px;
        height: 150px;
        border: solid 1px gray;
        margin-top: 8px; 
      display:inline-block;
    }

    
    .jimimg{
        display: inline-block;
        vertical-align: middle;
        width: 155px;
        height: 148px;
    }
    
    
    .jimcont{
        width:169px;
        height: 148px;
        vertical-align: middle;
        display: inline-block;
    }

.prock{
    position: relative;
    left: 100px;
}


.proname1{ 
  
    font-size: 17px;
    color: gray;
    font-weight: bold;
}


.proprice{
  
    font-size: 17px;
    color: gray;
    font-weight: bold;
}


.promap{
    font-size: 17px;
    color: gray;
    font-weight: bold;
}


.protime{
    font-size: 17px;
    color: gray;
    font-weight: bold;
}

.rev{
        width: 1243px;
        height: 1200px;
        border: solid 1px gray;
        margin-top:35px;
        border-top: 0;
      border-left: 0;
      border-right: 0;
}




.rev1{
    color: gray;
   font-size: 25px;
   font-weight: bold; 
}
    
    
   
.r1{
    width: 1173px;
    height: 200px;
    border: solid 1px gray;
    
     border-left-width:0; 
     border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1;  
    position: relative;
    bottom:40px;
    left: 74px;
    display:inline-block;
    

}

.n12{

position: relative;
top:40px;


}

.dd1{
    position: relative;
    top: 30px;




}



.i{
    width:70px;
    height: 130px;
    display:inline-block;
   bottom: 50px;
}


.com12{
    position: relative;
    top:50px;
}

.de0{
    position: relative;
    top:42px;
   }


.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}


.star{
   position: relative;
   top:35px;
   left: -2px;
}

.proname{
   position: relative;
   top:25px;
}


.jikinfo1 {
         width: 410px;
         height: 400px;
         display: inline-block;
         vertical-align: middle;
      
      }
      .jikinfo1::before{
         content : "";
           position: absolute;
           height  : 60px;
           width   : 1px;  
          left: 739px;
         bottom: -90px;
           border-right:1px solid gray;
      }



      .jikinfo2 {

         width: 410px;
         height: 400px;
         display: inline-block;
         vertical-align: middle;
         
      }



      .jikinfo2::before{
         content : "";
           position: absolute;
           height  : 60px;
           width   : 1px;  
           bottom: -90px;
         right: 746px;
           border-right:1px solid gray;
      }



      .jikinfo3 {
         width: 410px;
         height: 400px;
      
         display: inline-block;
         vertical-align: middle;
      

      }

.img {
    width: 140px;
    height:140px;
    border-radius: 70px; /* 이미지 반크기만큼 반경을 잡기*/
   position: relative;
   left: 130px;
   top:30px;
   
} 
#radius-box {
    width: 100px;
    height: 100px;
    background-image:url("배경이미지경로");
    border-radius: 150px; /* 레이어 반크기만큼 반경을 잡기*/    
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}




.jikname{
   position: relative;
   top: 45px;
   color: gray;
   font-weight: bold;
   font-size: 20px;
   left: 155px;
}



.jikname1{
   position: relative;
   top: 45px;
   color: gray;
   font-weight: bold;
   font-size: 20px;
   left: 140px;
}


.jikname2{
   position: relative;
   top: 45px;
   color: gray;
   font-weight: bold;
   font-size: 20px;
   left: 168px;
}






.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}

.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}


.star123{
   position: relative;
   top:45px;
   left: 135px;
}


.jikpro{
   position: relative;
   top:45px;
   color: gray;
   font-weight: bold;
   font-size: 20px;
   left: 168px;
}
 .fa-plus{
   position: relative;
    left:147px;
   top:55px;
   z-index: 2;
   font-size: 17px;


   color: white;
} 

   .jiksee {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
         /* -moz-border-radius: 6px;
         -webkit-border-radius: 6px;
         border-radius: 6px; */
         border: 1px solid #dcdcdc;
         display: inline-block;
         cursor: pointer;
         color: #ffffff;
         font-family: Arial;
         font-size: 15px;
         font-weight: bold;
         padding: 4px 8px;
         text-decoration: none;
         position: relative;
         top: 55px;
         left:115px;
         width: 120px;
         height: 40px;
      }

      .jiksee:hover {
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #848484), color-stop(1, #848484));
         background: -moz-linear-gradient(top, #848484 5%, #848484 100%);
         background: -webkit-linear-gradient(top, #848484 5%, #848484 100%);
         background: -o-linear-gradient(top, #848484 5%, #848484 100%);
         background: -ms-linear-gradient(top, #848484 5%, #848484 100%);
         background: linear-gradient(to bottom, #848484 5%, #848484 100%);
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848484', endColorstr='#848484', GradientType=0);
         background-color: #848484;
      }

.contentsDiv{
	height: 300px;
	border: 1px solid black;
}
