li{
	 list-style:none;	
}
.other{
	/* border:1px solid black; */
	width: 100%;
	height: 100%;
}
.left-layout{
	/* border: 1px solid black; */
	width: 300px;
	height: 800px;
	vertical-align: middle;
/* 	border: 1px solid red; */
	display: inline-block;
}

.right-layout{
/*	border: 1px solid black;
 	position:relative;
	bottom: 500px;
	left: 350px; */
	margin-left: 20px;
	width: 880px;
	height: 800px;
	display: inline-block;
	vertical-align: middle;
}
.review{

}
.memintro{
	height: 100px;
}
.other-info{
	border: 1px solid #f8f8f8
}
.other-profile1{
	/* border-bottom: 1px solid black; */
	height: 150px;
	text-align: center;
	vertical-align: middle;
}
.other-profile2{
	/* border: 1px solid black; */
	/* height: 250px; */
}
.other-profile2-left{
	border: 1px solid #6d767f;
	width: 80px;
	height: 30px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	padding-right: 5px;
}
.other-profile2-right{
	margin-left:5px;
	height: 30px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.margin-class{
	margin: 10px;
	line-height: 2.2;
}

.other-nickname{
	font-size: 24px;
	text-align: center;
	border-top: 0.1px solid #dee2e6;
	border-bottom: 0.1px solid #dee2e6;
	padding: 10px;
	margin:0;
}
.profile-nickname{
	width: 30px;
	height: 30px;
	margin-right: 2px;
}

.foo{
	width: 200px;
	height: 80px;
}

.other-manner-top{
	text-align: center;
	padding: 10px;
	font-weight:600;
	border-bottom: 0.1px solid #dee2e6
}
.other-manner-bottom{
	text-align: center;
}
.line{
	border-top : 0.1px solid #dee2e6
}
.product-title-line{
	border-bottom: 0.1px solid #6d767f;
	font-size: 32px;
}
.btn{
/* 	width: 300px; */
}

.updateDiv{
	text-align: center;
}

#acc_name2{
	display:none;
}

#phone2{
	display:none;
}

#nickname2{
	display: none;
	height: 30px;
	text-align: center;
}
#email2{
	display:none;
}
#acc_num2{
	display: none;
}
#intro2{
	display:none;
}
.infoInput{
	height: 30px;
	text-align: center;
}
#intro{
	 height: 100px;
}
.introDiv{
	display:inline-block;
}

.updateDiv2{
	display:none;
	text-align: center;
}

#acc_name{
	text-align: center;
}