<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    img {
        width: auto;
    height: auto;
    }
    body{
        background-color: wheat;
    }

    .container {
        background-color:red;
    }
    .jj {
        background-image: url(img/profile.png);
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="img/profile.png" alt="찾는이미지가 없다.">
        </div>
        <div class="row">
            <p id="prod_name">나이키 에어포스</p> 
            <p id="prod_price">100000원</p>
            <p id="prod_time">1분전</p>
        </div>
        <div class="row">
            대구 북구 복현동
        </div>
    </div>




    <div class="jj">
        gpgp
        gpgpgp
        gpgpgpg
        pgp
        gpgpgpggpgp
        gpgpgp
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        </div>
</body>
</html>