* {
    margin: 0;
    padding: 0;
}

#sido1{
display: inline;
}
#gugun1{
display: inline;
}
html,
body {
    background-color: #E6E6E6;
    height: 100%;
    overflow: hidden
}

#wrap {
    height: 100%;
    margin: 1px;
}

.header-line {

    border-bottom: 1px solid 0.5px#FAFAFA;
    width: 100%;
    height: 6%;

    background-color: white;
}

.contents-line {
    overflow: auto;
    overflow-x: hidden;
    height: 84.1%;
    margin-top: 8px;

}

.footer-line {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background: white;
    border-top: 1px solid 0.5px #FAFAFA;
    margin-top: 5px;
}


.content-wrap{
    background: #FAFAFA;
    height: 100px;
    width: 97%;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 7px;


}

.addrDiv {
    display: inline-block;
    width: 18%;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size:16px;
    vertical-align: middle;
    color: gray;

}

.fa-chevron-down {
    font-size: 18px;

}

.vowel {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    float: right;
    margin-top: 10px;
    height: 25px;

}

.fa-search {
    font-weight: bold;
    font-size: 25px;
    color: gray;
    text-decoration: none;
}

.fa-filter {
    font-weight: bold;
    font-size: 25px;
    color: gray;
    margin-left: 10px;
    text-decoration: none;
}

.fa-cog {
    font-weight: bold;
    font-size: 25px;
    color: gray;
    margin-left: 10px;
    text-decoration: none;
}


.pro-home {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 5px;

}

.pro-category {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 5px;

}

.pro-plus {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 5px;
}

.pro-chat {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 5px;
}

.my-user {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 5px;
}


.fa-home {
    font-size: 25px;
    text-decoration: none;
    color: #BDBDBD;
}

.fa-bars {
    font-size: 25px;
    text-decoration: none;
    color: #BDBDBD;
    margin-left: 12px;
}

.fa-plus-circle {
    font-size: 25px;
    text-decoration: none;
    color: #BDBDBD;
    margin-left: 10px;
}


.pro-chat .fa-comments {
    font-size: 25px;
    text-decoration: none;
    color: #BDBDBD;
    margin-left: 3px;
}



.fa-user {
    font-size: 25px;
    text-decoration: none;
    color: #BDBDBD;
    margin-left: 5px;
}

.name-home {
    font-size: 12px;
    margin-left: 9px;
}

.name-chat {
    font-size: 12px;
}

.name-plus {
    font-size: 12px;
}

.name-category {
    font-size: 12px;
}

.name-user {
    font-size: 12px;
}
a{
text-decoration: none;

}
 a:link{
 text-decoration: none;
 }

 a:visited{
text-decoration: none;
color:black;
 }
  .pro-img,.pro-img1,.pro-img2{
    border-radius: 7px;
    margin-top:7px;
    margin-left: 7px;
}
.imgess{
    display: inline-block;
    vertical-align: middle;
    

}

.img-name{
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    width: 270px;
    height: 90px;
    margin-left: 5px;
    font-weight: bold;
    font-size:15px;
}
.addr-name{
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-top:7px;
}

.pro-price{
    font-size: 17px;
    font-weight: bold;
    color: red;
    margin-top:1px;
}
.chat-numbering > .fa-comments{
    font-size:15px;
    text-decoration: none;
    color:#8181F7;
}
.fa-heart{
     font-size:15px;
    text-decoration: none;
    color:#FA5858;
}

.chat-numbering{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left:208px;
    bottom:15px;

}
.heart-numbering{
   display: inline-block;
   vertical-align:middle;
   position:relative;
     left:208px;
    bottom:15px;

 }