<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ys.project.admin.mapper.NoticeBoardMapper">

	<select id="getList" resultType="NoticeBoard">
	<![CDATA[
		SELECT * FROM NOTICEBOARD WHERE no_num > 0 ORDER BY no_num DESC
	]]>
	</select>

	<insert id="insert">
		INSERT INTO
		NOTICEBOARD(NO_NUM,TITLE,CONTENT,ADMIN_ID)
		VALUES(noticeBoard_seq.nextval,#{title},#{content},#{admin_id})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="no_num" order="BEFORE"
			resultType="long">
			SELECT NOTICEBOARD_SEQ.nextval from DUAL
		</selectKey>

		INSERT INTO NOTICEBOARD(NO_NUM,TITLE,CONTENT,ADMIN_ID)
		VALUES(#{no_num},#{title},#{content},#{admin_id})
	</insert>

	<select id="read" resultType="NoticeBoard">
		SELECT * FROM NOTICEBOARD WHERE
		no_num=#{no_num}
	</select>

	<delete id="delete">
		DELETE NOTICEBOARD WHERE no_num = #{no_num}
	</delete>

	<update id="update">
		update noticeBoard
		set title= #{title},
		content=
		#{content},
		admin_id= #{admin_id},
		update_date=sysdate
		where
		no_num=#{no_num}
	</update>


</mapper>